<div class="row" id="request-details">
	<div class="col-md-6">
		<h5> Property: <%= rental.escape("address") %>
		<h5> Start Date: <%= request.escape("start_date") %> </h5>
		<h5> End Date: <%= request.escape("end_date") %></h5>
	</div>
	<div class="col-md-6">
		<h5> Guests: <%= request.escape("guests") %></h5>
		<h5> Status: <%= request.escape("status") %></h5>
		<button id="messages"
			class="btn
			btn-primary"
			data-toggle="modal"
			data-target="#message-modal<%= request.escape("id") %>">
			Messages
		</button>
		<button class="btn btn-primary" id="request-accept">Accept Request</button>
		<button class="btn btn-danger" id="request-deny">Deny Request</button>
	</div>
</div>

<div class="modal fade" id="message-modal<%= request.escape("id") %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
				<% messages.forEach(function(message){ %>
	        <%= message.escape("content") %>
				<% }) %>
      </div>
    </div>
  </div>
</div>