<% if( (type != "description") && (type != "rental_type") && (type != "room_type") && (type != "address")) { %>
	<form id="edit-rental">
	    <input id="<%= type %>" type="text" name="rental[<%= type %>]" value="<%= attr %>">
	</form>
<% } else if(type === "description") { %>
	<form id="edit-rental">
		 <textarea id="<%= type %>" type="text" name="rental[<%= type %>]"><%= attr %></textarea>
	 </form>
<% } else if( type === "rental_type") { %>
	<form id="edit-rental">
		<div class="form-group">
			<label class="control-label rental-type">Rental Type
				<div class="btn-group">
					<input id="apartment" class="rental-radio" type="radio" name="rental[rental_type]" value="apartment">
					<label for="apartment" class="btn btn-primary r-selector rental first-button">
					   <i class="fa fa-building-o fa-2x"></i>
					   <span3>APT</span3>
					</label>

					<input id="home" class="rental-radio" type="radio" name="rental[rental_type]" value="home">
					<label for="home" class="btn btn-primary r-selector rental">
						<i class="fa fa-home fa-2x"></i>
						<span3>Home</span>
					</label>

					<input id="bnb" class="rental-radio" type="radio" name="rental[rental_type]" value="bnb">
					<label for="bnb" class="btn btn-primary r-selector rental">
						<i class="fa fa-coffee fa-2x"></i>
						<span3>BnB</span>
					</label>
				</div>
			</label>
		</div>
	</form>
<% } else if( type === "room_type") {%>
	<form id="edit-rental">
		<div class="form-group">
			<label class="control-label rental-type">Room Type
				<div class="btn-group">
					<input id="whole-home" class="rental-radio" type="radio" name="rental[room_type]" value="whole-home">
					<label for="whole-home" class="btn btn-primary r-selector room first-button">
					   <i class="fa fa-home fa-2x"></i>
					   <span3>Whole Home</span3>
					</label>

					<input id="private-room" class="rental-radio" type="radio" name="rental[room_type]" value="private-room">
					<label for="private-room" class="btn btn-primary r-selector room">
						<i class="fa fa-key fa-2x"></i>
						<span3>Private Room</span>
					</label>

					<input id="shared-room" class="rental-radio" type="radio" name="rental[room_type]" value="shared-room">
					<label for="shared-room" class="btn btn-primary r-selector room">
						<i class="fa fa-suitcase fa-2x"></i>
						<span3>Shared Room</span>
					</label>
				</div>
			</label>
		</div>
	</form>
<% } else if( type === "address") {%>
	<form id="address-rental">
	    <input id="<%= type %>" type="text" name="rental[<%= type %>]" value="<%= attr %>">
	</form>
<% } %>














