<h1>HELLO WORLD </h1>

	<div class="row favorites">
		<% if(rentals){ %>
			<% rentals.forEach(function(rental){ %>
				<div class="col-md-3 search-container" id="favorite-rental-">
					<div class="rental-search-item" data-id="<%= rental.escape("id") %>">
				 		<div class="carousel slide search-result-carousel" id="search-carousel-<%= rental.escape("id") %>" data-ride="carousel">
				 	 		<div class="carousel-inner">
								<% var i = 0; %>
								<% rental.images().forEach(function(image) { %>
									<div class="item <%= i === 0 ? "active" : "" %>">
										<img src="<%= image.escape("photo_url") %>">
									</div>
									<% i++ %>
								<% }) %>
				 			</div>
						  <a class="left carousel-control" href="#search-carousel-<%= rental.escape("id") %>" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						  </a>
						  <a class="right carousel-control" href="#search-carousel-<%= rental.escape("id") %>" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						  </a>
						</div>
						<div class="search-result">
							<div class="search-item-header">
								<h6 class="medium-font">
									<%= rental.escape("tagline") %>
								</h6>

							</div>
						<div>
					</div>
					<div class="row">
						<div class="col-md-12 search-item-footer">
							<h6 class="align-left"><%= rental.escape("rental_type") + " / " + rental.escape("room_type") %></h6>
							<button id="book-now" class="btn btn-primary book-now" data-id="<%= rental.escape("id") %>">Book Now </button>
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% }) %>
	<% } %>
</div>