<div class="col-md-12">
	<h6> Drag and drop to sort your images </h6>
	<form id="new-image-<%= rental.escape("id") %>" name="image" data-remote="true" enctype="multipart/form-data">
	  <div class="field">
	    <div class="btn btn-primary image-buttons upload-image" id="upload-image-<%= rental.escape("id") %>">
				Add Another Image
			</div>
			<input type="file" name="image[photo]" class="image-upload" id="image-upload-<%= rental.escape("id") %>">
	  </div>
	  <div class="btn btn-primary image-buttons submit-images" id="submit-images-<%= rental.escape("id") %>">
			Upload Images
		</div>
	</form>
	<h6>
		<div id="image-titles-<%= rental.escape("id") %>">
		</div>
		</h6>
</div>

<div class="image-sorter">
<% images.forEach(function(image){ %>
	<div
		id="rank-image.escape("id")"
		data-id="<%= image.escape("id") %>"
		class="sort-image-holder"
		data-rank="<%= image.escape("rank") %>"
	>
		<img src="<%= image.escape("photo_url_small") %>">
	</div>
<% }) %>
</div>
