<div class="row">
	<% if(new_rental){ %>
		<div class="col-sm-12 col-md-6 col-md-offset-3">
	<% } else { %>
		<div class="col-md-12">
	<% } %>
		<form id="rental-form">
			<div class="form-group">
				<label class="control-label rental-type">Rental Type
					<div class="btn-group">
						<input id="apartment" class="rental-radio" type="radio" name="rental[rental_type]" value="Apartment">
						<label for="apartment" class="btn btn-primary r-selector rental first-button <%= rental.escape("rental_type") === "Apartment" ? "selected" : "" %>">
						   <i class="fa fa-building-o fa-2x"></i>
						   <span3>APT</span3>
						</label>

						<input id="home" class="rental-radio" type="radio" name="rental[rental_type]" value="Home">
						<label for="home" class="btn btn-primary r-selector rental <%= rental.escape("rental_type") === "Home" ? "selected" : "" %>">
							<i class="fa fa-home fa-2x"></i>
							<span3>Home</span>
						</label>

						<input id="bnb" class="rental-radio" type="radio" name="rental[rental_type]" value="Bed and Breakfast">
						<label for="bnb" class="btn btn-primary r-selector rental <%= rental.escape("rental_type") === "Bed and Breakfast" ? "selected" : "" %>">
							<i class="fa fa-coffee fa-2x"></i>
							<span3>BnB</span>
						</label>
					</div>
				</label>
			</div>

			<div class="form-group">
				<label class="control-label rental-type">Room Type
					<div class="btn-group">
						<input id="whole-home" class="rental-radio" type="radio" name="rental[room_type]" value="Whole Home/Apt">
						<label for="whole-home" class="btn btn-primary r-selector room first-button <%= rental.escape("room_type") === "Whole Home/Apt" ? "selected" : "" %>">
						   <i class="fa fa-home fa-2x"></i>
						   <span3>Whole Home</span3>
						</label>

						<input id="private-room" class="rental-radio" type="radio" name="rental[room_type]" value="Private Room">
						<label for="private-room" class="btn btn-primary r-selector room <%= rental.escape("room_type") === "Private" ? "selected" : "" %>">
							<i class="fa fa-key fa-2x"></i>
							<span3>Private Room</span>
						</label>

						<input id="shared-room" class="rental-radio" type="radio" name="rental[room_type]" value="Shared Room">
						<label for="shared-room" class="btn btn-primary r-selector room <%= rental.escape("rental_type") === "Shared Room" ? "selected" : "" %>" >
							<i class="fa fa-suitcase fa-2x"></i>
							<span3>Shared Room</span>
						</label>
					</div>
				</label>
			</div>


			<div class="form-group">
				<label class="control-label">Apt or Unit
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-home" style="top: 0px"></span>
						<input type="text" placeholder="#" class="form-control rental-form" value="<%= rental.escape("unit")  %>" name="rental[unit]">
					</div>
				</label>
			</div>

			<div class="form-group">
				<label class="control-label">Street Address
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-road" style="top: 0px"></span>
						<input type="text" class="form-control rental-form" id="address" value="<%= rental.escape("address")  %>" name="rental[address]">
					</div>
				</label>
			</div>

			<div class="form-group">
				<label class="control-label">Allowed Guests
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-user" style="top: 0px"></span>
						<input type="text" placeholder="Maximum number of guests who can stay" class="form-control rental-form" value="<%= rental.escape("allowed_guests")  %>" name="rental[allowed_guests]">
					</div>
				</label>
			</div>

			<div class="form-group">
				<label class="control-label">Tag Line
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-tag" style="top: 0px"></span>
						<input type="text" placeholder="Describe your place in 120 characters or less!" class="form-control rental-form" value="<%= rental.escape("tagline")  %>" name="rental[tagline]">
					</div>
				</label>
			</div>

			<div class="form-group">
				<label class="control-label">Price
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-usd" style="top: 0px"></span>
						<input type="text" placeholder="Cost per night" class="form-control rental-form" value="<%= rental.escape("price")  %>" name="rental[price]">
					</div>
				</label>
			</div>

			<div class="form-group">
				<label id="description" class="control-label">Description
					<textarea placeholder="Give us more details about your place!" class="form-control rental-form" name=rental[description]><%= rental.escape("description") %></textarea>
				</label>
			</div>


			<button id="submit-update" class="btn btn-primary">Submit</button>
		</form>
	</div>
<div>