<h1> <%= user.escape("email") %> </h1>

<h3>Owned Rentals</h3>
<ul>
	<% rentals.forEach(function(rental){ %>
		<li><%= rental.escape("id") %></li>
	<% }) %>
</ul>

<h3> Made Requests </h3>
<ul>
	<% madeRequests.forEach(function(request){ %>
		<li>
			<p><%= request.escape("rental_id") %><p>
			<p><%= request.escape("start_date") %></p>
			<p><%= request.escape("end_date") %></p>
			<p><%= request.escape("status") %></p>
		</li>
	<% }) %>
</ul>

<h3>Received Requests </h3>
<ul>
	<% receivedRequests.forEach(function(request){ %>
		<li>
			<p><%= request.escape("start_date") %></p>
			<p><%= request.escape("end_date") %></p>
			<button class="btn btn-primary"> Respond </button>
		</li>
	<% }) %>
</ul>

